extends layout

block content
  link(rel='stylesheet', href='/stylesheets/about.css')
  div(class="jumbotron")
    div(class="container")
      h1 Что такое IoThub?
      p. 
        IoThub это пользовательская облачная среда для интеграции ваших устройств, сенсоров, датчиков и умных утюгов. IoThub собирает, агрегирует, анализирует 
        пользовательские данные и выдает нужные пользователю или другим устройствам осуществляя взаимодействие клиентской инфраструктуры. IoThub можно 
        запрограммировать отдавать команды устройствам в автоматическом режиме по тригерам. Так-же IoThub может использоваться для хранения и обработки 
        пользовательской health data с фитнес трекеров и остальной умной бижютерии.
    div(width='100%')
      img(src='http://www.itbusiness.com.ua/wp-content/uploads/2015/05/IoT-Graphic.png', width='100%', align='centre')
    div(class="jumbotron")
    div(class="container")
      h1 Зачем нужно ещё одно облако?
      p.
        IoThub специализирован для работы с RAW sensor data. Обычные пользователи могут использовать предустановленные сценарии использования. Любители DIY
        смогут настроить все по своему вкусу. IoThub это свобода, равенство, братство. Котики.
     
  div(class="container")
  footer
    p &copy; 2016 IoThub, Inc.

