extends layout

block content
  div(class="jumbotron")
    |  <style>
    |  @font-face { font-family: Avenir; src: url('AvenirNextLTPro-Regular.TTF'); 
    |  #norm_font:{
    |    font-family: Avenir
    |  }
    | </style>
    div(class="container text-center norm_font")
      h1 Welcome to IoThub!
    div(class="container")
      p. 
        IoThub - ваше персональное хранилище для данных с датчиков уного дома, фитнес трекеров и медицинских датчиков, смартфонов и идентификаторов для устройств физического веба. 
        IoThub соберет, обработает, представит вам актуальную информацию с ваших датчиков и сделает для вас то на что вы его запрограммируете. Большинство функций пока в 
        разработке, жизнь слишком коротка что бы тратитть её на код, кушать тоже когда-то надо!
      p
        a(class="btn btn-primary btn-lg", href="/registration", role="button") Registration &raquo;
  div(class="container")
  footer
    p &copy; 2016 IoThub, Inc.

