doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='bootstrap.css')
    
  body
    nav(class="navbar navbar-inverse navbar-fixed-top")
      div(class="container")
        div(class="navbar-header")
          button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar")
            span(class="sr-only") Toggle navigation
            span(class="icon-bar") 
            span(class="icon-bar")
            span(class="icon-bar")
          a(class="navbar-brand" href="/") IoThub
        div(id="navbar")
          ul(class="nav navbar-nav")
            li(class="active")
              a(href="/") Home
            li
              a(href="/about") About
            li
              a(href="/view_temp") Watch demo
            li
              a(href="/comming_soon") User scripts
            li
              a(href="/comming_soon") Find beacon
        div(id="navbar")
          ul(class="nav navbar-nav navbar-right")
            li
              img(src="userpic.png", width='45', heigth='51', margin-bot='-5')
            li
              a(href="/user") Test User
    block content
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
    script(src='bootstrap.js')
    