extends layout

block content
  link(rel='stylesheet', href='/stylesheets/about.css')
  style.
    #main {
      margin-top: 40px;
    }
  script(src='https://cdnjs.cloudflare.com/ajax/libs/vis/4.16.1/vis.min.js')
  script(src='https://code.jquery.com/jquery-3.0.0.min.js')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/vis/4.16.1/vis.min.css')
  div(class="container", id="main")
    div(class='row')
      div(class="col-xs-6")
        a(href="#", class="thumbnail")
          h3 Tempreture
          div(id="visualization", class="visualization")
      div(class="col-xs-6")
        a(href="#", class="thumbnail")
          h3 Atmospheric pressure
          div(id="visualization", class="visualization")
    div(class='row')
      div(class="col-xs-6")
        a(href="#", class="thumbnail")
          h3 Wet
          div(id="visualization", class="visualization")
      div(class="col-xs-6")
        a(href="#", class="thumbnail")
          h3 CO2
          div(id="visualization", class="visualization")
  script(src='/js/vis.js')
  footer
    p &copy; 2016 IoThub, Inc.

